@charset "UTF-8";

.height{
  height: 500px;
}

.image{
  background-image: url(../image/coffee-background.jpg);
}

.image2{
  background-image: url(../image/coffee-background.jpg);
  background-repeat: no-repeat;
}

.image3{
  background-image: url(../image/coffee-background.jpg);
  background-size: cover;
  background-position: center;
}

.image4{
  background-image: url(../image/coffee-background.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}